
{% extends "polls/base.html" %}

{% block sidebar %}
<div id = "content_left" style = "border: 1px 
    solid blue; padding: 10px;  float: left; width: 80%" >
    사이드바 예시    
</div>
{% endblock%}

{% block content %}
<div id = "content_left" style = "border: 1px solid blue; padding: 10px;  float: left; width: 47%" >
    
    
    {% for host in search_result_host_info %}

    <li><a href="/polls/{{ host.id }}/">{{host}}</a></li>
    <br>

    {% endfor %}
    

    {% if search_result_host_info|length  == 0 %}
        <p>No hosts are available.</p>
    {% endif %}
</div>


     <iframe src="test" title="내용" width="50%" height="500px"></iframe>


{% endblock%}




