<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_66e0410b14fb40b48320545c55fcbbc6 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_66e0410b14fb40b48320545c55fcbbc6" ></div>
        
</body>
<script>    
    
            var map_66e0410b14fb40b48320545c55fcbbc6 = L.map(
                "map_66e0410b14fb40b48320545c55fcbbc6",
                {
                    center: [37.544973133333336, 126.91326106666666],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_4a7dd97793a04cb3be1ed6b9a1b4fc9f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_66e0410b14fb40b48320545c55fcbbc6);
        
    
            var marker_68447caa176d47f7ad8d92c2a9cf10e0 = L.marker(
                [37.51093669999999, 127.08086170000001],
                {"color": "red", "radius": 10}
            ).addTo(map_66e0410b14fb40b48320545c55fcbbc6);
        
    
        var popup_17f5fab217ba46df8a36d1de440da90e = L.popup({"maxWidth": "100%"});

        
            var html_4fdef1b2d0f1468183ce7edfc710b335 = $(`<div id="html_4fdef1b2d0f1468183ce7edfc710b335" style="width: 100.0%; height: 100.0%;">신천 NU</div>`)[0];
            popup_17f5fab217ba46df8a36d1de440da90e.setContent(html_4fdef1b2d0f1468183ce7edfc710b335);
        

        marker_68447caa176d47f7ad8d92c2a9cf10e0.bindPopup(popup_17f5fab217ba46df8a36d1de440da90e)
        ;

        
    
    
            var marker_0f8e30ec44b244daa4260f9e34bcecef = L.marker(
                [37.5250162, 126.85781840000001],
                {"color": "red", "radius": 10}
            ).addTo(map_66e0410b14fb40b48320545c55fcbbc6);
        
    
        var popup_5f5e3fad877b420f99114b03a1193fce = L.popup({"maxWidth": "100%"});

        
            var html_a383e46eda2047149112d600181dd1ed = $(`<div id="html_a383e46eda2047149112d600181dd1ed" style="width: 100.0%; height: 100.0%;">목동 메종</div>`)[0];
            popup_5f5e3fad877b420f99114b03a1193fce.setContent(html_a383e46eda2047149112d600181dd1ed);
        

        marker_0f8e30ec44b244daa4260f9e34bcecef.bindPopup(popup_5f5e3fad877b420f99114b03a1193fce)
        ;

        
    
    
            var marker_7309cee013ff4c8dbdfdcc4d618f607c = L.marker(
                [37.5497351, 126.8483505],
                {"color": "red", "radius": 10}
            ).addTo(map_66e0410b14fb40b48320545c55fcbbc6);
        
    
        var popup_ee4691350fef4b61bb1642adbf3cd654 = L.popup({"maxWidth": "100%"});

        
            var html_509709a02b3649c29317b396f2436da0 = $(`<div id="html_509709a02b3649c29317b396f2436da0" style="width: 100.0%; height: 100.0%;">화곡 샤르망-강서구청</div>`)[0];
            popup_ee4691350fef4b61bb1642adbf3cd654.setContent(html_509709a02b3649c29317b396f2436da0);
        

        marker_7309cee013ff4c8dbdfdcc4d618f607c.bindPopup(popup_ee4691350fef4b61bb1642adbf3cd654)
        ;

        
    
    
            var marker_7cd110942c544672a61ed18d472a061f = L.marker(
                [37.5300734, 126.8412253],
                {"color": "red", "radius": 10}
            ).addTo(map_66e0410b14fb40b48320545c55fcbbc6);
        
    
        var popup_0928d6de6e6149fea449fd773c32417b = L.popup({"maxWidth": "100%"});

        
            var html_64508d34b97f4a098929dbb632791222 = $(`<div id="html_64508d34b97f4a098929dbb632791222" style="width: 100.0%; height: 100.0%;">화곡 앤</div>`)[0];
            popup_0928d6de6e6149fea449fd773c32417b.setContent(html_64508d34b97f4a098929dbb632791222);
        

        marker_7cd110942c544672a61ed18d472a061f.bindPopup(popup_0928d6de6e6149fea449fd773c32417b)
        ;

        
    
    
            var marker_e9872ae3670e470ba2feff61a3e05282 = L.marker(
                [37.5764888, 126.8307466],
                {"color": "red", "radius": 10}
            ).addTo(map_66e0410b14fb40b48320545c55fcbbc6);
        
    
        var popup_9970bb36b3074f66a8ba62468690be3a = L.popup({"maxWidth": "100%"});

        
            var html_12f838b0b2794c0aa0bd306254c03dfd = $(`<div id="html_12f838b0b2794c0aa0bd306254c03dfd" style="width: 100.0%; height: 100.0%;">호텔 엠펠리체</div>`)[0];
            popup_9970bb36b3074f66a8ba62468690be3a.setContent(html_12f838b0b2794c0aa0bd306254c03dfd);
        

        marker_e9872ae3670e470ba2feff61a3e05282.bindPopup(popup_9970bb36b3074f66a8ba62468690be3a)
        ;

        
    
    
            var marker_0b66be15e1684412b6f974dd9b3a0950 = L.marker(
                [37.5544309, 126.97468590000001],
                {"color": "red", "radius": 10}
            ).addTo(map_66e0410b14fb40b48320545c55fcbbc6);
        
    
        var popup_5ab1c1c6e2624d2ea43dcdf020648b52 = L.popup({"maxWidth": "100%"});

        
            var html_df13d5f206a84037a778c8c2a594b539 = $(`<div id="html_df13d5f206a84037a778c8c2a594b539" style="width: 100.0%; height: 100.0%;">서울역 원미닛 게스트하우스</div>`)[0];
            popup_5ab1c1c6e2624d2ea43dcdf020648b52.setContent(html_df13d5f206a84037a778c8c2a594b539);
        

        marker_0b66be15e1684412b6f974dd9b3a0950.bindPopup(popup_5ab1c1c6e2624d2ea43dcdf020648b52)
        ;

        
    
    
            var marker_588439a93818481d87035ebfade1f10f = L.marker(
                [37.5495315, 126.9206446],
                {"color": "red", "radius": 10}
            ).addTo(map_66e0410b14fb40b48320545c55fcbbc6);
        
    
        var popup_3181ba76b6674779ab8529dde8a71b0b = L.popup({"maxWidth": "100%"});

        
            var html_559fd9be651e4ead86dbee780fe61b54 = $(`<div id="html_559fd9be651e4ead86dbee780fe61b54" style="width: 100.0%; height: 100.0%;">홍대 유(서교) 여성전용</div>`)[0];
            popup_3181ba76b6674779ab8529dde8a71b0b.setContent(html_559fd9be651e4ead86dbee780fe61b54);
        

        marker_588439a93818481d87035ebfade1f10f.bindPopup(popup_3181ba76b6674779ab8529dde8a71b0b)
        ;

        
    
    
            var marker_219bb0c413bd40238df4870837256bc4 = L.marker(
                [37.5541761, 126.9375064],
                {"color": "red", "radius": 10}
            ).addTo(map_66e0410b14fb40b48320545c55fcbbc6);
        
    
        var popup_597a2f1dc7df481985db8ac2421c5757 = L.popup({"maxWidth": "100%"});

        
            var html_3b79d84eecd240b5bf84527db74b19d9 = $(`<div id="html_3b79d84eecd240b5bf84527db74b19d9" style="width: 100.0%; height: 100.0%;">신촌 호스텔 가온</div>`)[0];
            popup_597a2f1dc7df481985db8ac2421c5757.setContent(html_3b79d84eecd240b5bf84527db74b19d9);
        

        marker_219bb0c413bd40238df4870837256bc4.bindPopup(popup_597a2f1dc7df481985db8ac2421c5757)
        ;

        
    
    
            var marker_9f0130cc396c45008743c0d49f614c37 = L.marker(
                [37.5543695, 126.9275102],
                {"color": "red", "radius": 10}
            ).addTo(map_66e0410b14fb40b48320545c55fcbbc6);
        
    
        var popup_a430ca961e1c4ae48fcb0e39d53bc85e = L.popup({"maxWidth": "100%"});

        
            var html_7500fd2576f842ee8e80a3e1fcad7da6 = $(`<div id="html_7500fd2576f842ee8e80a3e1fcad7da6" style="width: 100.0%; height: 100.0%;">홍대 준 게스트하우스</div>`)[0];
            popup_a430ca961e1c4ae48fcb0e39d53bc85e.setContent(html_7500fd2576f842ee8e80a3e1fcad7da6);
        

        marker_9f0130cc396c45008743c0d49f614c37.bindPopup(popup_a430ca961e1c4ae48fcb0e39d53bc85e)
        ;

        
    
</script>