<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_44ded284c5b045ae89b16cc05e946d99 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_44ded284c5b045ae89b16cc05e946d99" ></div>
        
</body>
<script>    
    
            var map_44ded284c5b045ae89b16cc05e946d99 = L.map(
                "map_44ded284c5b045ae89b16cc05e946d99",
                {
                    center: [37.544973133333336, 126.91326106666666],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_cac2b28b011548d8b41ce52472742c18 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_44ded284c5b045ae89b16cc05e946d99);
        
    
            var marker_763afe1ae7a64bea93955df405ccedc7 = L.marker(
                [37.51093669999999, 127.08086170000001],
                {"color": "red", "radius": 10}
            ).addTo(map_44ded284c5b045ae89b16cc05e946d99);
        
    
        var popup_b94f16e071f84d659efa243d187df5d7 = L.popup({"maxWidth": "100%"});

        
            var html_ecc1f7327eb94fc0be692ed2a033b236 = $(`<div id="html_ecc1f7327eb94fc0be692ed2a033b236" style="width: 100.0%; height: 100.0%;">신천 NU</div>`)[0];
            popup_b94f16e071f84d659efa243d187df5d7.setContent(html_ecc1f7327eb94fc0be692ed2a033b236);
        

        marker_763afe1ae7a64bea93955df405ccedc7.bindPopup(popup_b94f16e071f84d659efa243d187df5d7)
        ;

        
    
    
            var marker_00bb944dfe454f78847527fe888cab1f = L.marker(
                [37.5250162, 126.85781840000001],
                {"color": "red", "radius": 10}
            ).addTo(map_44ded284c5b045ae89b16cc05e946d99);
        
    
        var popup_74aa44b6776f4e7aa2f96f84a98885b0 = L.popup({"maxWidth": "100%"});

        
            var html_1cc5e20d15c44f4a99a808828520e77a = $(`<div id="html_1cc5e20d15c44f4a99a808828520e77a" style="width: 100.0%; height: 100.0%;">목동 메종</div>`)[0];
            popup_74aa44b6776f4e7aa2f96f84a98885b0.setContent(html_1cc5e20d15c44f4a99a808828520e77a);
        

        marker_00bb944dfe454f78847527fe888cab1f.bindPopup(popup_74aa44b6776f4e7aa2f96f84a98885b0)
        ;

        
    
    
            var marker_22bf7bb47cb344d7919d390c132a57de = L.marker(
                [37.5497351, 126.8483505],
                {"color": "red", "radius": 10}
            ).addTo(map_44ded284c5b045ae89b16cc05e946d99);
        
    
        var popup_6b515bd0271243d2ab3ff344053f9494 = L.popup({"maxWidth": "100%"});

        
            var html_09e08562630a4f8a9f11bfd8c4b2b86f = $(`<div id="html_09e08562630a4f8a9f11bfd8c4b2b86f" style="width: 100.0%; height: 100.0%;">화곡 샤르망-강서구청</div>`)[0];
            popup_6b515bd0271243d2ab3ff344053f9494.setContent(html_09e08562630a4f8a9f11bfd8c4b2b86f);
        

        marker_22bf7bb47cb344d7919d390c132a57de.bindPopup(popup_6b515bd0271243d2ab3ff344053f9494)
        ;

        
    
    
            var marker_5bd728a3c0c343f2999710048643e1d6 = L.marker(
                [37.5300734, 126.8412253],
                {"color": "red", "radius": 10}
            ).addTo(map_44ded284c5b045ae89b16cc05e946d99);
        
    
        var popup_bd4b222c4c4c4d7fa1570128cf82288f = L.popup({"maxWidth": "100%"});

        
            var html_19bccf20e35e4d07b52d3030274ade58 = $(`<div id="html_19bccf20e35e4d07b52d3030274ade58" style="width: 100.0%; height: 100.0%;">화곡 앤</div>`)[0];
            popup_bd4b222c4c4c4d7fa1570128cf82288f.setContent(html_19bccf20e35e4d07b52d3030274ade58);
        

        marker_5bd728a3c0c343f2999710048643e1d6.bindPopup(popup_bd4b222c4c4c4d7fa1570128cf82288f)
        ;

        
    
    
            var marker_90e1945b4d4141dfac45cd8427d52dd0 = L.marker(
                [37.5764888, 126.8307466],
                {"color": "red", "radius": 10}
            ).addTo(map_44ded284c5b045ae89b16cc05e946d99);
        
    
        var popup_2b58aa01805a4fd3822098c1071113ae = L.popup({"maxWidth": "100%"});

        
            var html_d0c9d83bed6846b1bbb446eb5950469f = $(`<div id="html_d0c9d83bed6846b1bbb446eb5950469f" style="width: 100.0%; height: 100.0%;">호텔 엠펠리체</div>`)[0];
            popup_2b58aa01805a4fd3822098c1071113ae.setContent(html_d0c9d83bed6846b1bbb446eb5950469f);
        

        marker_90e1945b4d4141dfac45cd8427d52dd0.bindPopup(popup_2b58aa01805a4fd3822098c1071113ae)
        ;

        
    
    
            var marker_5d76b994e6b241f9baae98c5ff7a06ff = L.marker(
                [37.5544309, 126.97468590000001],
                {"color": "red", "radius": 10}
            ).addTo(map_44ded284c5b045ae89b16cc05e946d99);
        
    
        var popup_ce5d17b6e46543c791d297d58b20f981 = L.popup({"maxWidth": "100%"});

        
            var html_b8f41244d33c4cae93bfda88c251308e = $(`<div id="html_b8f41244d33c4cae93bfda88c251308e" style="width: 100.0%; height: 100.0%;">서울역 원미닛 게스트하우스</div>`)[0];
            popup_ce5d17b6e46543c791d297d58b20f981.setContent(html_b8f41244d33c4cae93bfda88c251308e);
        

        marker_5d76b994e6b241f9baae98c5ff7a06ff.bindPopup(popup_ce5d17b6e46543c791d297d58b20f981)
        ;

        
    
    
            var marker_ef6c6bdfc4c3447f86258a9fc61c6297 = L.marker(
                [37.5495315, 126.9206446],
                {"color": "red", "radius": 10}
            ).addTo(map_44ded284c5b045ae89b16cc05e946d99);
        
    
        var popup_7ee7fdafe7264a1e9d3fade593be9518 = L.popup({"maxWidth": "100%"});

        
            var html_2c0b3c26fb554910b30613ec49f276e4 = $(`<div id="html_2c0b3c26fb554910b30613ec49f276e4" style="width: 100.0%; height: 100.0%;">홍대 유(서교) 여성전용</div>`)[0];
            popup_7ee7fdafe7264a1e9d3fade593be9518.setContent(html_2c0b3c26fb554910b30613ec49f276e4);
        

        marker_ef6c6bdfc4c3447f86258a9fc61c6297.bindPopup(popup_7ee7fdafe7264a1e9d3fade593be9518)
        ;

        
    
    
            var marker_56238cb3f35c4fcaa5b4bf16bd06b399 = L.marker(
                [37.5541761, 126.9375064],
                {"color": "red", "radius": 10}
            ).addTo(map_44ded284c5b045ae89b16cc05e946d99);
        
    
        var popup_be2dc88c593e4eb7bc5d87086e92617c = L.popup({"maxWidth": "100%"});

        
            var html_91154a728d4f49819c251c9bd0bd6a9e = $(`<div id="html_91154a728d4f49819c251c9bd0bd6a9e" style="width: 100.0%; height: 100.0%;">신촌 호스텔 가온</div>`)[0];
            popup_be2dc88c593e4eb7bc5d87086e92617c.setContent(html_91154a728d4f49819c251c9bd0bd6a9e);
        

        marker_56238cb3f35c4fcaa5b4bf16bd06b399.bindPopup(popup_be2dc88c593e4eb7bc5d87086e92617c)
        ;

        
    
    
            var marker_c380ab1d5e8448cebaa776bcb26537d2 = L.marker(
                [37.5543695, 126.9275102],
                {"color": "red", "radius": 10}
            ).addTo(map_44ded284c5b045ae89b16cc05e946d99);
        
    
        var popup_ebfcea6ef5434ec08a7e74f19486b71f = L.popup({"maxWidth": "100%"});

        
            var html_8f75c51367584ef8878a52721b0bceb7 = $(`<div id="html_8f75c51367584ef8878a52721b0bceb7" style="width: 100.0%; height: 100.0%;">홍대 준 게스트하우스</div>`)[0];
            popup_ebfcea6ef5434ec08a7e74f19486b71f.setContent(html_8f75c51367584ef8878a52721b0bceb7);
        

        marker_c380ab1d5e8448cebaa776bcb26537d2.bindPopup(popup_ebfcea6ef5434ec08a7e74f19486b71f)
        ;

        
    
</script>