<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_56f2f19d1bdb45f5bdb5570139b718e4 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_56f2f19d1bdb45f5bdb5570139b718e4" ></div>
        
</body>
<script>    
    
            var map_56f2f19d1bdb45f5bdb5570139b718e4 = L.map(
                "map_56f2f19d1bdb45f5bdb5570139b718e4",
                {
                    center: [37.535850887500004, 126.983895125],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_78d0c0592ba847729dbdce9f3d895cdd = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_56f2f19d1bdb45f5bdb5570139b718e4);
        
    
            var marker_8b54bbbdb8e14c959474704de1a4d63d = L.marker(
                [37.52209179999999, 126.91058590000002],
                {"color": "red", "radius": 10}
            ).addTo(map_56f2f19d1bdb45f5bdb5570139b718e4);
        
    
        var popup_adb5adb76de64483a946410649f5c7e3 = L.popup({"maxWidth": "100%"});

        
            var html_c7cca77c603b4588b9be9cd65371d6c9 = $(`<div id="html_c7cca77c603b4588b9be9cd65371d6c9" style="width: 100.0%; height: 100.0%;">영등포 보보스</div>`)[0];
            popup_adb5adb76de64483a946410649f5c7e3.setContent(html_c7cca77c603b4588b9be9cd65371d6c9);
        

        marker_8b54bbbdb8e14c959474704de1a4d63d.bindPopup(popup_adb5adb76de64483a946410649f5c7e3)
        ;

        
    
    
            var marker_4ffe0ea7d5384e3fa30df391f2aba46f = L.marker(
                [37.5490591, 126.91198159999999],
                {"color": "red", "radius": 10}
            ).addTo(map_56f2f19d1bdb45f5bdb5570139b718e4);
        
    
        var popup_2d2bb40f4cce47e781f87d379e6deee1 = L.popup({"maxWidth": "100%"});

        
            var html_096dac923fcb416fb6e21eb65c4144ce = $(`<div id="html_096dac923fcb416fb6e21eb65c4144ce" style="width: 100.0%; height: 100.0%;">합정 서원</div>`)[0];
            popup_2d2bb40f4cce47e781f87d379e6deee1.setContent(html_096dac923fcb416fb6e21eb65c4144ce);
        

        marker_4ffe0ea7d5384e3fa30df391f2aba46f.bindPopup(popup_2d2bb40f4cce47e781f87d379e6deee1)
        ;

        
    
    
            var marker_351b0bc5c42d42ea8176746f9f9044d4 = L.marker(
                [37.54730670000001, 127.06743059999998],
                {"color": "red", "radius": 10}
            ).addTo(map_56f2f19d1bdb45f5bdb5570139b718e4);
        
    
        var popup_c94bdcd68e76416d8b776915856d7fc7 = L.popup({"maxWidth": "100%"});

        
            var html_e0c2d36d5c6c46af90a4475bacf69a13 = $(`<div id="html_e0c2d36d5c6c46af90a4475bacf69a13" style="width: 100.0%; height: 100.0%;">호텔 더 디자이너스 프리미어 건대</div>`)[0];
            popup_c94bdcd68e76416d8b776915856d7fc7.setContent(html_e0c2d36d5c6c46af90a4475bacf69a13);
        

        marker_351b0bc5c42d42ea8176746f9f9044d4.bindPopup(popup_c94bdcd68e76416d8b776915856d7fc7)
        ;

        
    
    
            var marker_747272cc6ff94b87822d10e2cecca6c7 = L.marker(
                [37.5419639, 127.1243165],
                {"color": "red", "radius": 10}
            ).addTo(map_56f2f19d1bdb45f5bdb5570139b718e4);
        
    
        var popup_c33582b8cb7f43f4934b3ce0acb5ce15 = L.popup({"maxWidth": "100%"});

        
            var html_340888513c134325b5e46485667a137e = $(`<div id="html_340888513c134325b5e46485667a137e" style="width: 100.0%; height: 100.0%;">천호 테마</div>`)[0];
            popup_c33582b8cb7f43f4934b3ce0acb5ce15.setContent(html_340888513c134325b5e46485667a137e);
        

        marker_747272cc6ff94b87822d10e2cecca6c7.bindPopup(popup_c33582b8cb7f43f4934b3ce0acb5ce15)
        ;

        
    
    
            var marker_9227fc26f1bd452495957a6cd14b37f0 = L.marker(
                [37.5315964, 126.9642116],
                {"color": "red", "radius": 10}
            ).addTo(map_56f2f19d1bdb45f5bdb5570139b718e4);
        
    
        var popup_436ff316cfad49e38f8da77cfdc06a4c = L.popup({"maxWidth": "100%"});

        
            var html_37dbf12d2d1c464c850710a2666296b1 = $(`<div id="html_37dbf12d2d1c464c850710a2666296b1" style="width: 100.0%; height: 100.0%;">이비스 스타일 앰배서더 서울 용산</div>`)[0];
            popup_436ff316cfad49e38f8da77cfdc06a4c.setContent(html_37dbf12d2d1c464c850710a2666296b1);
        

        marker_9227fc26f1bd452495957a6cd14b37f0.bindPopup(popup_436ff316cfad49e38f8da77cfdc06a4c)
        ;

        
    
    
            var marker_eed1f98772e644f7b8452084039fc85d = L.marker(
                [37.5315964, 126.9642116],
                {"color": "red", "radius": 10}
            ).addTo(map_56f2f19d1bdb45f5bdb5570139b718e4);
        
    
        var popup_6fc96ad85321473d95918b9dc65295cd = L.popup({"maxWidth": "100%"});

        
            var html_15a17ae98ac04fbda5d691392bebe9d7 = $(`<div id="html_15a17ae98ac04fbda5d691392bebe9d7" style="width: 100.0%; height: 100.0%;">노보텔 스위트 앰배서더 서울 용산</div>`)[0];
            popup_6fc96ad85321473d95918b9dc65295cd.setContent(html_15a17ae98ac04fbda5d691392bebe9d7);
        

        marker_eed1f98772e644f7b8452084039fc85d.bindPopup(popup_6fc96ad85321473d95918b9dc65295cd)
        ;

        
    
    
            var marker_1ddf5facdced4698a91ba51a753225a2 = L.marker(
                [37.5315964, 126.9642116],
                {"color": "red", "radius": 10}
            ).addTo(map_56f2f19d1bdb45f5bdb5570139b718e4);
        
    
        var popup_e8fd964b7cf3413b9cea050c94454820 = L.popup({"maxWidth": "100%"});

        
            var html_a9c1c586132b409ab882c39f3d146973 = $(`<div id="html_a9c1c586132b409ab882c39f3d146973" style="width: 100.0%; height: 100.0%;">노보텔 앰배서더 서울 용산</div>`)[0];
            popup_e8fd964b7cf3413b9cea050c94454820.setContent(html_a9c1c586132b409ab882c39f3d146973);
        

        marker_1ddf5facdced4698a91ba51a753225a2.bindPopup(popup_e8fd964b7cf3413b9cea050c94454820)
        ;

        
    
    
            var marker_01c6976dd341467693c0f9b6b8f197a6 = L.marker(
                [37.5315964, 126.9642116],
                {"color": "red", "radius": 10}
            ).addTo(map_56f2f19d1bdb45f5bdb5570139b718e4);
        
    
        var popup_3a0cdb9631a94492b0d50129383f993c = L.popup({"maxWidth": "100%"});

        
            var html_f53dc7517fc740e78b10bea492bf94fe = $(`<div id="html_f53dc7517fc740e78b10bea492bf94fe" style="width: 100.0%; height: 100.0%;">그랜드 머큐어 앰배서더 호텔앤레지던스</div>`)[0];
            popup_3a0cdb9631a94492b0d50129383f993c.setContent(html_f53dc7517fc740e78b10bea492bf94fe);
        

        marker_01c6976dd341467693c0f9b6b8f197a6.bindPopup(popup_3a0cdb9631a94492b0d50129383f993c)
        ;

        
    
</script>