<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_dc57616dd4504d7e9c7daa90506cbb7a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_dc57616dd4504d7e9c7daa90506cbb7a" ></div>
        
</body>
<script>    
    
            var map_dc57616dd4504d7e9c7daa90506cbb7a = L.map(
                "map_dc57616dd4504d7e9c7daa90506cbb7a",
                {
                    center: [37.544973133333336, 126.91326106666666],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_69137bc3d68d47419648b077afeae011 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_dc57616dd4504d7e9c7daa90506cbb7a);
        
    
            var marker_170f9e5f98ae4477b8b01fd4673d7d7b = L.marker(
                [37.51093669999999, 127.08086170000001],
                {"color": "red", "radius": 10}
            ).addTo(map_dc57616dd4504d7e9c7daa90506cbb7a);
        
    
        var popup_b92c271364fc43cca04d23e1873a08c2 = L.popup({"maxWidth": "100%"});

        
            var html_2b72024b17ff482184b1949a6256ce26 = $(`<div id="html_2b72024b17ff482184b1949a6256ce26" style="width: 100.0%; height: 100.0%;">신천 NU</div>`)[0];
            popup_b92c271364fc43cca04d23e1873a08c2.setContent(html_2b72024b17ff482184b1949a6256ce26);
        

        marker_170f9e5f98ae4477b8b01fd4673d7d7b.bindPopup(popup_b92c271364fc43cca04d23e1873a08c2)
        ;

        
    
    
            var marker_b52b6c74e9c34b30a88fc2f7fa027e0b = L.marker(
                [37.5250162, 126.85781840000001],
                {"color": "red", "radius": 10}
            ).addTo(map_dc57616dd4504d7e9c7daa90506cbb7a);
        
    
        var popup_4197dbcf01f748e3af22c76528520e9f = L.popup({"maxWidth": "100%"});

        
            var html_99d73a24e20c49e38e6694d2be233c59 = $(`<div id="html_99d73a24e20c49e38e6694d2be233c59" style="width: 100.0%; height: 100.0%;">목동 메종</div>`)[0];
            popup_4197dbcf01f748e3af22c76528520e9f.setContent(html_99d73a24e20c49e38e6694d2be233c59);
        

        marker_b52b6c74e9c34b30a88fc2f7fa027e0b.bindPopup(popup_4197dbcf01f748e3af22c76528520e9f)
        ;

        
    
    
            var marker_f1beee09154e4c7a9efcfd8843bebd63 = L.marker(
                [37.5497351, 126.8483505],
                {"color": "red", "radius": 10}
            ).addTo(map_dc57616dd4504d7e9c7daa90506cbb7a);
        
    
        var popup_def9b0f95bd14fb891bab9d04316745e = L.popup({"maxWidth": "100%"});

        
            var html_3d5e00a00bf84d03988d027b857c5303 = $(`<div id="html_3d5e00a00bf84d03988d027b857c5303" style="width: 100.0%; height: 100.0%;">화곡 샤르망-강서구청</div>`)[0];
            popup_def9b0f95bd14fb891bab9d04316745e.setContent(html_3d5e00a00bf84d03988d027b857c5303);
        

        marker_f1beee09154e4c7a9efcfd8843bebd63.bindPopup(popup_def9b0f95bd14fb891bab9d04316745e)
        ;

        
    
    
            var marker_7a39ea20a4a64bf8b223fea9dea800e7 = L.marker(
                [37.5300734, 126.8412253],
                {"color": "red", "radius": 10}
            ).addTo(map_dc57616dd4504d7e9c7daa90506cbb7a);
        
    
        var popup_adfb28e57d0547bba5a0fa5c4a87d9bc = L.popup({"maxWidth": "100%"});

        
            var html_7246c2165f854b8a9e8bd866a0233c6b = $(`<div id="html_7246c2165f854b8a9e8bd866a0233c6b" style="width: 100.0%; height: 100.0%;">화곡 앤</div>`)[0];
            popup_adfb28e57d0547bba5a0fa5c4a87d9bc.setContent(html_7246c2165f854b8a9e8bd866a0233c6b);
        

        marker_7a39ea20a4a64bf8b223fea9dea800e7.bindPopup(popup_adfb28e57d0547bba5a0fa5c4a87d9bc)
        ;

        
    
    
            var marker_fa4eb52355e14b70913deaefa3413c15 = L.marker(
                [37.5764888, 126.8307466],
                {"color": "red", "radius": 10}
            ).addTo(map_dc57616dd4504d7e9c7daa90506cbb7a);
        
    
        var popup_0120f9aa77884ecb800667a7e137acd8 = L.popup({"maxWidth": "100%"});

        
            var html_9a35911eafa2435395d044be5fbc56d1 = $(`<div id="html_9a35911eafa2435395d044be5fbc56d1" style="width: 100.0%; height: 100.0%;">호텔 엠펠리체</div>`)[0];
            popup_0120f9aa77884ecb800667a7e137acd8.setContent(html_9a35911eafa2435395d044be5fbc56d1);
        

        marker_fa4eb52355e14b70913deaefa3413c15.bindPopup(popup_0120f9aa77884ecb800667a7e137acd8)
        ;

        
    
    
            var marker_3ccca866514441ef9fa9c5ba34fce52b = L.marker(
                [37.5544309, 126.97468590000001],
                {"color": "red", "radius": 10}
            ).addTo(map_dc57616dd4504d7e9c7daa90506cbb7a);
        
    
        var popup_245b1307365c46cbaa6e747fb1aa686e = L.popup({"maxWidth": "100%"});

        
            var html_df4f0a04ab964f29abcb91bfb7e4fd55 = $(`<div id="html_df4f0a04ab964f29abcb91bfb7e4fd55" style="width: 100.0%; height: 100.0%;">서울역 원미닛 게스트하우스</div>`)[0];
            popup_245b1307365c46cbaa6e747fb1aa686e.setContent(html_df4f0a04ab964f29abcb91bfb7e4fd55);
        

        marker_3ccca866514441ef9fa9c5ba34fce52b.bindPopup(popup_245b1307365c46cbaa6e747fb1aa686e)
        ;

        
    
    
            var marker_5ecce6142ddc4ef381f1b3dbb18f116e = L.marker(
                [37.5495315, 126.9206446],
                {"color": "red", "radius": 10}
            ).addTo(map_dc57616dd4504d7e9c7daa90506cbb7a);
        
    
        var popup_1c4a3855b8e647d19f5e2c1e607b1895 = L.popup({"maxWidth": "100%"});

        
            var html_c6c68ed52a9040f38fc3bacb18cd010a = $(`<div id="html_c6c68ed52a9040f38fc3bacb18cd010a" style="width: 100.0%; height: 100.0%;">홍대 유(서교) 여성전용</div>`)[0];
            popup_1c4a3855b8e647d19f5e2c1e607b1895.setContent(html_c6c68ed52a9040f38fc3bacb18cd010a);
        

        marker_5ecce6142ddc4ef381f1b3dbb18f116e.bindPopup(popup_1c4a3855b8e647d19f5e2c1e607b1895)
        ;

        
    
    
            var marker_093e9f64a84649ffbc82d213fc8f4183 = L.marker(
                [37.5541761, 126.9375064],
                {"color": "red", "radius": 10}
            ).addTo(map_dc57616dd4504d7e9c7daa90506cbb7a);
        
    
        var popup_d7e7da83c7584e03a43f1dc87bdcd46a = L.popup({"maxWidth": "100%"});

        
            var html_b108511831a946bc873b3824935f1cff = $(`<div id="html_b108511831a946bc873b3824935f1cff" style="width: 100.0%; height: 100.0%;">신촌 호스텔 가온</div>`)[0];
            popup_d7e7da83c7584e03a43f1dc87bdcd46a.setContent(html_b108511831a946bc873b3824935f1cff);
        

        marker_093e9f64a84649ffbc82d213fc8f4183.bindPopup(popup_d7e7da83c7584e03a43f1dc87bdcd46a)
        ;

        
    
    
            var marker_e1eea15ef37347149b7da61761dd8715 = L.marker(
                [37.5543695, 126.9275102],
                {"color": "red", "radius": 10}
            ).addTo(map_dc57616dd4504d7e9c7daa90506cbb7a);
        
    
        var popup_090c44af4d1442a8a2520191436a8959 = L.popup({"maxWidth": "100%"});

        
            var html_0e3e9aa6637b4d21baf77aa4987f1c03 = $(`<div id="html_0e3e9aa6637b4d21baf77aa4987f1c03" style="width: 100.0%; height: 100.0%;">홍대 준 게스트하우스</div>`)[0];
            popup_090c44af4d1442a8a2520191436a8959.setContent(html_0e3e9aa6637b4d21baf77aa4987f1c03);
        

        marker_e1eea15ef37347149b7da61761dd8715.bindPopup(popup_090c44af4d1442a8a2520191436a8959)
        ;

        
    
</script>