
{% extends "base.html" %}

{% block sidebar %}
<div id = "content_left" style = "border: 1px 
    solid blue; padding: 10px;  float: left; width: 80%" >
    사이드바 예시    
</div>
{% endblock%}

{% block content %}
<div id = "content_left" style = "border: 1px solid blue; padding: 10px;  float: left; width: 47%" >
    

    {% for acmd in search_result %}
    
        <li> <a href = "detail/{{acmd.id}}"> {{acmd.room_name}} </a>  </li>
        
        <br>
        {{acmd.location}}
        <br>

        <br>
        {{acmd.link}}
        <br>
        <img src= {{acmd.image_link}} alt="Image">
        <br>
        {{sample}}

    {% endfor %}
    
    {% if search_result|length  == 0 %}
        <p>No hosts are available.</p>
    {% endif %}

</div>


<iframe src="map" title="내용" width="50%" height="500px"></iframe>

<!-- Paging -->
<nav aria-label= "Page Navigaton">
    <ul class = "pagination">
        {% for page in page_range %}
        <li class = "page-item"><a class ="page-link" 
            href = "{% url 'polls:Info_searching'%}?search_keyword={{search_keyword}}&&page={{page}}">{{page}}</a></li>
        {% endfor %}
    </ul>
</nav>

{% endblock%}




